{% extends 'layout/layout.html' %}
{% block content %}
<div id="gnbWrap">
    <ul id="gnb">
        {% if userid %}
        <li><a href="/profile" style="color:coral">{{username}}</a></li>
        <li><a href="#" id="logout">LOG OUT</a></li>
        <li><a href="#">BOARD</a></li>
        <script>
            const logout = document.querySelector('#logout');
            logout.addEventListener('click', (e) => {
                e.preventDefault();
                document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;"
                location.href = "/"
            })
        </script>
        {% else %}
        <li>
            <li><a href="#">BOARD</a></li>
            <a href="/signin">SIGN IN</a>
        </li>
        <li><a href="/signup">SIGN UP</a></li>
        {% endif %}
    </ul>
</div>


{% endblock %}